@import '~antd/dist/antd.css';


.connectWallet {
  /* background-color: #40a9ff; */
  background-color: #1980ff;

  /* background: -webkit-linear-gradient(left, #69c0ff, #002766); */
  background: -webkit-linear-gradient(left, #bae7ff, #002766);
  background-size: 200% 200%;
  animation: gradient-animation 8s ease infinite;

  filter: drop-shadow(0px 4px 2px rgb(0 0 0 / 0.4));
}

.connectWallet .ant-typography {
  color: white;
}

.connectWallet svg {
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.8));
}

.socialLinks {
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));

}

.App {
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.centerChilds {
  display: flex;
  justify-content: center;
}

.pad5 {
  padding: 5;
}

.ant-drawer-content-wrapper {
  width: 650px;
}

.rAlign { text-align: right; }
.cAlign { display: block;
          margin-left: auto;
          margin-right: auto;
          /* justify-content: center;
          justify-self: center; */
          text-align: center; 
        }

div.ant-form-item { margin-bottom: 12;}


/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% { background-position:   0% 50%; }
 50% { background-position: 100% 50%; }
100% { background-position:   0% 50%; }
}
@-moz-keyframes gradient-animation {
  0% { background-position:   0% 50%; }
 50% { background-position: 100% 50%; }
100% { background-position:   0% 50%; }
}
@keyframes gradient-animation {
  0% { background-position:   0% 50%; }
 50% { background-position: 100% 50%; }
100% { background-position:   0% 50%; }
}
